{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}What if{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="py-5 px-3">
		<h1>What-if scenarios simulator</h1>
		<!-- <p class="lead"></p> -->
		<h2>Adjacency matrix</h2>
		{% if topology is none %}
			No data
		{% else %}
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th scope="col">Routers</th>
						{% for router_IP, router in topology.routers.items() %}
							<th scope="col">{{router.name}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% set links = {} %}
					{% for router_IP, router in topology.routers.items() %}
						<tr>
							<th scope="row">{{router.name}}</th>
							{% for other_IP, other in topology.routers.items() %}
								{% if other_IP in router.neighbors_to_links %}
									{% if router.neighbors_to_links[other_IP].ID in links %}
										{% set link_class = "link-deco table-secondary" %}
									{% else %}
										{% set x = links.__setitem__(router.neighbors_to_links[other_IP].ID, 0) %}
										{% set util = router.neighbors_to_links[other_IP].util%}
										{% if util < 0.4 %}
											{% set link_class = "table-success" %}
										{% elif util >= 0.4 and util < 0.75 %}
											{% set link_class = "table-warning" %}
										{% else %}
											{% set link_class = "table-danger" %}
										{% endif %}
									{% endif %}
									<td class="{{link_class}}">
									<span class="link-info-">
									
									id: {{router.neighbors_to_links[other_IP].ID}} 
									</span>
									<br>
									<span>
									{{'%0.2f'| format(router.neighbors_to_links[other_IP].util * 100|float)}}%    
									</span>
									<span class="link-info-">
									({{router.neighbors_to_links[other_IP].util_raw|round(5, 'floor')}}/{{router.neighbors_to_links[other_IP].capacity}} Mbps)
									</span>
									</td>
								{% else %}
									
									<td class="link-deco table-secondary pt-3 {{link_class}}"><div class="center-block text-center" ><span data-feather="x"></span></div></td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<h2>Traffic matrix</h2>
		{% if topology is none %}
			No data
		{% else %}
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th scope="col">Sources <span data-feather="chevron-down"></th>
						{% for router_IP, router in topology.routers.items() %}
							<th scope="col">{{router.name}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% set links = {} %}
					{% for router_IP, router in topology.routers.items() %}
						<tr>
							<th scope="row">{{router.name}}</th>
							{% for other_IP, other in topology.routers.items() %}
								{% if traffic_matrix[router_IP][other_IP] > 0.00009 %}
									<td class="{{link_class}}">
									<span>
										{{traffic_matrix[router_IP][other_IP]|round(5, 'floor')}} Mbps  
									</span>
									</td>
								{% else %}
									
									<td class="link-deco table-secondary pt-3 {{link_class}}"><div class="center-block text-center" ><span data-feather="x"></span></div></td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<h2>Topology</h2>
		{% if topology is none %}
			No data
		{% else %}
			<div class="center">
				<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="600" overflow="scroll"></svg>
				<!-- <svg width="1000" height="600" viewBox="-500 -300 2000 1200" overflow="scroll"></svg> -->
			</div>
		{% endif %}
	</div>
{% endblock %}


{% block script %}
{% if topology is not none %}
<script>// This is adapted from https://bl.ocks.org/mbostock/2675ff61ea5e063ede2b5d63c08020c7

const MAX_OPACITY = 1;
const MIN_OPACITY = 0.2;
const OPACITY_TWEEN = 500;

const INFO_RECT_WIDTH = 200;
const INFO_RECT_HEIGHT = 80;


var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
};


var selected_node = null;
var previous_selected_node = null;
var selected_node_info = null;
var node_info = null;

var svg = d3.select("svg"),
	width = +svg.attr("width"),
	height = +svg.attr("height");



var simulation = d3.forceSimulation()
	.force("link", d3.forceLink()
		.id(function (d) {
			return d.id;
		})
		.distance(200)
		.strength(1)
	)
	.force("charge", d3.forceManyBody())
	.force("center", d3.forceCenter(width / 2, height / 2));

load_topology();

function load_topology() {

	graph = {{graph|tojson|safe}};
	var routers = {};
	var neighbors = {};
	for(var i in graph.nodes) {
		var n = graph.nodes[i];
		routers[n["id"]] = n;
	}

	for(var i in graph.nodes) {
		var n = graph.nodes[i];
		var neighbor = {};
		for(var j in graph.links) {
			var l = graph.links[j];
			if(l["source"] == n["id"]) 
				neighbor[l["target"]] = routers[l["target"]]["name"];
			if(l["target"] == n["id"]) 
				neighbor[l["source"]] = routers[l["source"]]["name"];
		}
		neighbors[n["id"]] = neighbor;
	}


	var link = svg.append("g")
		.attr("class", "links")
		.selectAll("line")
		.data(graph.links)
		.enter().append("line")
		.attr("id", function (d, i) {
			return "link-" + i;
		})
		.attr("class", function (d, i) {
			if(d.util < 0.4)
				return "green";
			if(d.util >= 0.4 && d.util < 0.75)
				return "orange";
			return "red";
		});

	var node = svg.selectAll(".node")
		.data(graph.nodes)
			.enter().append("g")
		.attr("class", "node")
		.attr("id", function (d) {
			return d.name;
		})
		.attr("IP", function (d) {
			return d.id;
		})
		.call(d3.drag()
			.on("start", dragstarted)
			.on("drag", dragged)
			.on("end", dragended));

	
	node.on("click", node_clicked);
	svg.on("click", svg_clicked);

	node_info = svg.append('g')
		.attr('class', 'node-info');

	node_info.on("click", node_info_clicked);
	node_info.append('rect')
		.attr('x', 10)
		.attr('y', 10)
		.attr('width', INFO_RECT_WIDTH)
		.attr('height', 0);

	node_info_text = node_info.append('g')
		.attr('class', 'node-info-text');


	


	node.append("circle")
		.attr("r", 25);

	node.append("text")
		.attr("class", "router-name")
		.attr("dx", -14)
		.attr("dy", 5)
		.text(function(d) { return d.name });

	simulation
		.nodes(graph.nodes)
		.on("tick", ticked);

	simulation.force("link")
		.links(graph.links);

	function svg_clicked() {

		if(selected_node_info != null) {

			selected_node_info = null;
			return;
		}

		if(previous_selected_node != null &&
			selected_node != null &&
			previous_selected_node.attr("id") == selected_node.attr("id")) {
			return;
		}

		node_info.select("rect")
				.transition().duration(OPACITY_TWEEN).attr('height', 0);




		for(var i in graph.nodes) {
			var n = graph.nodes[i];
			svg.select("#" + n["name"])
				.select("circle")
				.transition().duration(OPACITY_TWEEN).attr("opacity", MAX_OPACITY);

			svg.select("#" + n["name"])
				.select("text")
				.transition().duration(OPACITY_TWEEN).attr("opacity", MAX_OPACITY);
		}

		for(var j in graph.links) {
			svg.select("#link-" + j)
				.transition().duration(OPACITY_TWEEN).attr("opacity", MAX_OPACITY);
		}

		if(previous_selected_node != null) {
			// svg.select(".node-info").remove();
			node_info_text.selectAll("text").remove();
			previous_selected_node = null;
		}

		if(selected_node != null) {

			node_info.select("rect")
				.transition().duration(OPACITY_TWEEN).attr('height', INFO_RECT_HEIGHT);

			full_node = routers[selected_node.attr("IP")]

			infos = [
				"IP : " + full_node["id"],
				"Prefix-SID : " + full_node["prefix-sid"],
				"Connections : " + Object.keys(neighbors[full_node["id"]]).length
			]

			for(info in infos) {
				node_info_text.append('text')
					.attr("dx", 20)
					.attr("dy", 30 + info * 20)
					.attr("fill-opacity", 0)
					.text(infos[info])
					.transition().duration(OPACITY_TWEEN * 2).attr("fill-opacity", 1);

			}

			node_info_text.append('text')
				.attr("dx", 170)
				.attr("dy", 70)
				.attr("class", "icon")
				.attr("fill-opacity", 0)
				.text('\u2304')
				.transition().duration(OPACITY_TWEEN * 2).attr("fill-opacity", 1);
			

			// console.log(selected_node.attr("id"))
			selected_IP = selected_node.attr("IP");
			for(var i in graph.nodes) {
				var n = graph.nodes[i];
				if(!(selected_IP in neighbors[n["id"]]) && selected_IP != n["id"]) {
					svg.select("#" + n["name"])
						.select("circle")
						.attr("opacity", MAX_OPACITY)
						.transition().duration(OPACITY_TWEEN).attr("opacity", MIN_OPACITY);

					svg.select("#" + n["name"])
						.select("text")
						.attr("opacity", MAX_OPACITY)
						.transition().duration(OPACITY_TWEEN).attr("opacity", MIN_OPACITY);
				}
			}

			for(var j in graph.links) {
				var l = graph.links[j];
				if(l["source"]["id"] != selected_IP && l["target"]["id"] != selected_IP) {
					svg.select("#link-" + j)
						.attr("opacity", MAX_OPACITY)
						.transition().duration(OPACITY_TWEEN).attr("opacity", MIN_OPACITY);
				}
			}

		}
			// selected_node.select("circle").attr('r', 50);
		previous_selected_node = selected_node;
		selected_node = null;

	}

	function node_info_clicked() {
		selected_node_info = d3.select(this);
	}

	function node_clicked() {
		// d3.select(this).select("circle").attr('r', 50);
		
		selected_node = d3.select(this);
	}

	function ticked() {
		link
			.attr("x1", function (d) {
				return d.source.x;
			})
			.attr("y1", function (d) {
				return d.source.y;
			})
			.attr("x2", function (d) {
				return d.target.x;
			})
			.attr("y2", function (d) {
				return d.target.y;
			});

		node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
	}
}
function dragstarted(d) {
	if (!d3.event.active) simulation.alphaTarget(0.3).restart();
	d.fx = d.x;
	d.fy = d.y;
}

function dragged(d) {
	d.fx = d3.event.x;
	d.fy = d3.event.y;
}

function dragended(d) {
	if (!d3.event.active) simulation.alphaTarget(0);
	d.fx = null;
	d.fy = null;
}



function got_graph(err, data) {
}


function get_topology() {
	load_topology();
	document.getElementById("topology_search").submit();
	
}
</script>
{% endif %}
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
        feather.replace()
    </script>
{% endblock %}
